*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  color: #33475b;
  font-size: 14px;
}

p{
  font-size: 14px;
  line-height: 2em;
}

header, main, footer{
  display: block;
}

/* Classi Generali */
.relative{
  position: relative;
}

.fixed{
  position: fixed;
}

.absolute-bottom{
  position: absolute;
  bottom:0;
}

.z-99{
  z-index: 99;
}

.float-lt{
  float: left;
}

.float-rt{
  float: right;
}

.inline-block{
  display: inline-block;
}

.display-none{
  display: none;
}

.clear::after{
  content: '';
  display: table;
  clear: both;
}

.t-align-right{
  text-align: right;
}

.t-align-center{
  text-align: center;
}

.width-20{
  width: 20%;
}

.width-30{
  width: 30%;
}

.width-40{
  width: 40%;
}

.width-50{
  width: 50%;
}

.width-60{
  width: 60%;
}

.width-70{
  width: 70%;
}

.width-80{
  width: 80%;
}

.width-90{
  width: 90%;
}

.width-100{
  width: 100%
}

.row{
  margin: 0 auto;
}

.four-column > .column{
  width: calc((100%/4) - (90px/4));
}

.four-column > .column:not(:last-child){
  margin-right: 30px;
}

/* Button */
.btn{
  font-weight: bold;
  display: inline-block;
  border-radius: 3px;
  padding: 0 5%;
  background: #FFF;
  line-height: inherit;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #33475b;
}

.btn:hover{
  background: rgb(234,235,237,0.5);
}

.btn:visited{
  color: #33475b;
}

.btn.btn-orange-br,
.btn.btn-orange-br:visited{
  color: #FF6E4F;
  border: 1px solid #FF6E4F;
}

.btn.btn-orange-br:hover{
  background: #FFF7F5;
}

.btn.btn-orange-bk,
.btn.btn-orange-bk:visited{
  background: #FF6E4F;
  color: #FFF;
}

.btn.btn-orange-bk:hover{
  background: #FF8468;
}

/* CLasse Ul Menu */
ul.ul-menu-dropdown{
  list-style-type: none;
}

ul.ul-menu-dropdown > li{
  display:inline-block;
  margin-right: 20px;
}

ul.ul-menu-dropdown > li:last-child{
  margin-right: 0;
}

ul.ul-menu-dropdown li a{
  text-decoration: none;
}

/* ICONA TRIANGOLO DOWN solo su a che hanno figli
  Test Selettore :not() e :only-child
 */

ul.ul-menu-dropdown > li a:not(:only-child):after{
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    content: "\f0dd";
    color: #718DAD;
    margin-left: 20px;
}

/* I link di secondo livello sono nascosti */

ul.ul-menu-dropdown > li > ul.sub-menu{
  display: none;
}

ul.ul-menu-dropdown.blue-t-color li a:not(.btn),
ul.ul-menu-dropdown.blue-t-color li a:not(.btn):visited{
  color: #33475b;
}


ul.ul-menu-dropdown.lightblue-t-color li a:not(.btn),
ul.ul-menu-dropdown.lightblue-t-color li a:not(.btn):visited{
  color: #cbd6e2;
}

ul.ul-menu-dropdown.lightblue-t-color  > li a:not(:only-child),
ul.ul-menu-dropdown.lightblue-t-color  > li a:not(:only-child):visited,
ul.ul-menu-dropdown.lightblue-t-color  > li a:not(:only-child):after{
    color: #FFF;
}

ul.ul-menu-dropdown.lightblue-t-color li a:not(.btn):hover{
  color:#0091ae;
}

ul.ul-menu-dropdown.vertical > li{
  display: block;
  line-height: 2.5em;
  font-weight: lighter;
}

ul.ul-menu-dropdown.vertical > li > .btn{
  margin: 1em 0;
}

/* Ul List Icone Social */
ul.menu-social{
  list-style-type: none;
}

ul.menu-social > li{
  display: inline-block;
}

/* Nascondo il contenuto testuale del link */
ul.menu-social > li > a span{
  display: none;
}

/* Aggiungo regole generali per creare icona Font Awesome */
ul.menu-social > li > a:before{
  font-weight: 900;
  font-family: "Font Awesome 5 Brands";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin-right: 15px;
  font-size: 1.3em;
}

/* Aggiungo icone specifiche before a */
ul.menu-social > li > a.ico-fb:before{
  content: "\f39e";
}

ul.menu-social > li > a.ico-instagram:before{
  content: "\f16d";
}

ul.menu-social > li > a.ico-youtube:before{
  content: "\f23a";
}

ul.menu-social > li > a.ico-twitter:before{
  content: "\f099";
}

ul.menu-social > li > a.ico-linkedin:before{
  content: "\f0e1";
}

ul.menu-social > li > a.ico-medium:before{
  content: "\f23a";
}

/* UL Inline Menu */
ul.ul-inline-menu{
  list-style-type: none;
}

ul.ul-inline-menu > li{
  display:inline-block;
  margin-right: 20px;
}

ul.ul-inline-menu > li:last-child{
  margin-right: 0;
}

ul.ul-inline-menu li a{
  text-decoration: none;
}

ul.ul-inline-menu.lightblue-t-color > li a,
ul.ul-inline-menu.lightblue-t-color > li a:visited{
  color:#cbd6e2;
}

ul.ul-inline-menu.lightblue-t-color > li a:hover{
  color:#0091ae;
}

/* Impostazioni pagina */
.wrapper{
  /* height: 2000px; */
  background-color: #ccc;
}

/* Inner-wrapper Per centrare rispetto alla pagina lasciando bordi colorati*/
.inner-wrapper-1200{
  margin: 0 auto;
  width: 1200px;
  padding: 0 20px;
}

/* Header */
header{
  height: 170px;
}

header .navbar-top{
  height: 70px;
  line-height: 30px;
  padding: 20px 0;
  width: 100%;
  background: #F3F7F9;
  border-bottom: 1px solid #C4D0DE;
  font-size: 90%;
}

/* Link navbar-top */
header .navbar-top a,
header .navbar-top a:visited {
  text-decoration: none;
  color: #33475b;
}
header .navbar-top a:hover{
  text-decoration: none;
  color: #949faa;
}

header .navbar-top .navbar-left{
  width: 40%;
  overflow: auto;
}

/* Select-Wrapper LISTA UL
  Per ora c'è un solo elemento e non ha funzionalità Dropdown
*/
header .navbar-top .navbar-left .select-wrapper{
  cursor: pointer;
  margin-right: 10px;
}
header .navbar-top .navbar-left .select-wrapper:first-child{
  border-right: 2px solid #C4D0DE;
}
header .navbar-top .navbar-left .select-option{
  font-weight: bold;
  margin: 0 5px;
  list-style-type: none;
}

/* Select Lang Icona freccia Dropdown */
header .navbar-top .navbar-left .fa-sort-down{
  color: #718DAD;
  margin-right: 20px;
  font-size: 20px;
}

header .navbar-top .navbar-right{
  width: 60%;
  overflow: auto;
}

header .navbar-top .navbar-right > *{
  margin-left: 20px;
}

/* Navigazione principale */
header .primary-nav{
  width: 100%;
  height: 100px;
  background: #FFF;
  line-height: 100px;
}

header .primary-nav .logo img{
  height: 60%;
  vertical-align: middle; /* Per centrarla in verticale*/
}

/* Main */
/* Highlighted Block */
main .highlighted-block{
  background: #283646;
  width: 100%;
  padding: 20px 0;
}

main .highlighted-block .highlighted-text{
  width: 70%;
  color: #FFF;
}

main .highlighted-block .highlighted-button{
  width: 10%;
  line-height: 50px;
}

main .highlighted-block .highlighted-button .btn{
  width: 100%;
}

/* First Row */
main .first-row{
  padding: 50px 0;
  background: linear-gradient(to top right, #0D9EB8, #78D0DF);
  border-bottom: 3px solid #2D3E51;
  color: #fff;
}

main .first-row h2.title-block{
  font-size: 4em;
  line-height: 1.3em;
  margin-bottom: 40px;
}

main .first-row p.text-medium{
  font-size: 1em;
  line-height: 1.6em;
  margin-bottom: 20px;
}

main .first-row .btn{
  line-height: 70px;
  margin-bottom: 20px;
}

main .first-row p.text-small{
  font-size: 0.8em;
  line-height: 1.5em;
}

/* Second Row */
main .second-row{
  padding: 100px 0;
  background: #F3F7F9;
}

main .second-row .service-intro{
  width: 60%;
  margin: auto;
  font-weight: lighter;

}

main .second-row .row{
  margin-bottom: 30px;
}

main .second-row .service-intro img{
  height: 200px;
}

main .second-row h2.title-block{
  font-size: 2em;
  line-height: 1.3em;
  margin-bottom: 30px;
}

main .second-row .service-item{
  background: #FFF;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #eaf0f6;
  padding:2%;
  transition: all 0.5s ease-out;
}

main .second-row .service-item:hover{
  transform: scale(1.05);
  box-shadow: 6px 6px 6px #eaf0f6;

}

main .second-row .service-item .service-item-wrapper-content{
  width: 90%;
  margin: 0 auto;
}

main .second-row .service-item .icon-block img{
  height:150px;
  margin-bottom: 30px;
}

main .second-row .service-item .text-block p{
  margin-bottom: 30px;
}

main .second-row .service-item p.text-small{
  font-size: 0.8em;
  line-height: 1.5em;
}

main .second-row .service-item .btn{
  line-height: 50px;
}

main .second-row .service-item .text-block .wrapper-check-list{
  width: 100%;
}

main .second-row .service-item .text-block .wrapper-check-list .title-check-list{
  font-size: 1em;
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 10px;
}

main .second-row .service-item.width-90 .text-block .wrapper-check-list .title-check-list::after{
  content: '';
  position: absolute;
  width: 70%;
  height: 1px;
  background: #EFF1F5;
  top: 0.5em;
  right: 0;
}

main .second-row .service-item.width-30 .text-block .wrapper-check-list{
  padding-top: 2em;
  margin-bottom: 30px;
}

main .second-row .service-item.width-30 .text-block .wrapper-check-list .title-check-list::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #EFF1F5;
  top: 0;
  right: 0;
}

main .second-row .service-item .text-block .wrapper-check-list ul.check-list{
  list-style-type: none;
}

main .second-row .service-item .text-block .wrapper-check-list ul.check-list li{
  margin-right: 20px;
  line-height: 3em;
}

main .second-row .service-item.width-90 .text-block .wrapper-check-list ul.check-list li{
  display: inline-block;
}

main .second-row .service-item .text-block .wrapper-check-list ul.check-list li::before{
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  content: "\f058";
  color: #FF8166;
  margin-right: 10px;
  font-size: 1.2em;
}

main .second-row .row > .service-item:not(:last-child){
  margin-right: 5%;
}

/* Third row */

main .third-row{
  padding: 100px 0;
  background: linear-gradient(to right, #009BB4, #00B49B);
  color: #fff;
}

main .third-row .text-wrapper h2{
  font-size: 2em;
  margin-bottom: 30px;
}

main .third-row .text-wrapper p.text-small{
  font-size: 0.8em;
  line-height: 1.8em;
  font-weight: lighter;
}

main .third-row .table-number{
  margin-top: 60px;
  font-weight: lighter;
}

main .third-row .table-number .table-row:not(:last-child){
  border-bottom: 1px solid #FFF;
}

main .third-row .table-number .table-row .table-column{
  width: 25%;
  float: left;
  padding: 20px;
}

main .third-row .table-number .table-row .table-column:not(:last-child){
  border-right: 1px solid #fff;
}


main .third-row .table-number .text-small{
  font-size: 0.7em;
}

main .third-row .table-number .title-block{
  font-size: 3em;
}

main .third-row .table-number .title-block.add::after{
  content: '+';
  font-size: 0.5em;
  vertical-align: middle;
}

/* Fourth-row */
main .fourth-row{
  background: #FFF;
  padding: 80px 0;
}

main .fourth-row .title-block{
  font-size: 3em;
}

main .fourth-row .text-medium{
  font-size: 1.4em;
  font-weight: lighter;
}

main .fourth-row .text-medium strong{
  font-weight: bold;
}

main .fourth-row .logo-list img{
  width: 22%;
  padding: 4%;

}

main .fourth-row .logo-list img:not(:last-child){
}

/* Fifth-row */
main .fifth-row{
  background: #FFF;
  padding: 60px 0;
}

main .fifth-row .title-block{
  font-size: 2em;
  line-height: 1.5;
  margin-bottom: 30px
}

main .fifth-row .text-medium{
  font-size: 1em;
  font-weight: lighter;
  margin-bottom: 30px
}

main .fifth-row .text-small{
  font-size: 0.8em;
}

main .fifth-row .btn{
  line-height: 60px;
  margin-bottom: 30px;
}

main .fifth-row .img-wrapper-circle{
  background: #F04A72;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  overflow: hidden;
}

main .fifth-row .img-wrapper-circle img{
  width: 100%;
}

/* Footer */
footer{
  background: #33475B;
  color: #cbd6e2;
  padding: 80px 0;
}

footer .title-block{
  font-size: 1em;
  margin-bottom: 10px;
}

footer .menu-language{
  margin: 40px 0;
}

footer .copyright{
  vertical-align: middle;
}

footer .copyright img{
  display: block;
  margin-bottom: 20px;
  width: 100px;
}

footer .copyright .text-small{
  font-size: 0.8em;
  font-weight: lighter;
}

footer .copyright{
  border-top: 1px solid #7c98b6;
  padding: 40px 0;
}
